apiVersion: v1
kind: Pod
metadata:
  name: nginx-pod
  labels: 
    app: nginx-pod
spec:
  containers:
    - name: mycontainer
      image: nginx 
      ports:
        - containerPort: 80
---


apiVersion: v1
kind: Service
metadata:
  name: myservice
spec: 
  selector:
    app: nginx-pod
  ports:
  
    - port:  80
      protocol: TCP
      targetPort: 80